{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block main %}
    <form id="rechercheSortie" class="card">
        <div class="form-group row">
            <label for="listeSites" class="col-sm-2 col-form-label">Site</label>
            <div class="col-sm-10">
                <select id="listeSites" name="site" class="form-control">
                    {%  for site in listeSites %}
                        <option value="{{ site.id }}">{{ site.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="nomContient" class="col-sm-2 col-form-label">Le nom contient</label>
            <div class="col-sm-10">
                <input type="search" class="form-control" id="nomContient" placeholder="recherche">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="container datesLiees">
                    <label for="datetimepickerDebut" class="col-sm-2 col-form-label">Date de début</label>
                    <div class='col-md-4'>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepickerDebut" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerDebut"/>
                                <div class="input-group-append" data-target="#datetimepickerDebut" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label for="datetimepickerFin" class="col-sm-2 col-form-label">Date de fin</label>
                    <div class='col-md-4'>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepickerFin" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerFin"/>
                                <div class="input-group-append" data-target="#datetimepickerFin" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-check row">
            <input type="checkbox" class="form-check-input" id="organisateur">
            <label for="organisateur" class="form-check-label">Sorties dont je suis l'organisateur/trice</label>
        </div>
        <div class="form-check row">
            <input type="checkbox" class="form-check-input" id="inscrit">
            <label for="inscrit" class="form-check-label">Sorties auxquelles je suis inscrit/e</label>
        </div>
        <div class="form-check row">
            <input type="checkbox" class="form-check-input" id="pasInscrit">
            <label for="pasInscrit" class="form-check-label">Sorties auxquelles je ne suis pas inscrit/e</label>
        </div>
        <div class="form-check row">
            <input type="checkbox" class="form-check-input" id="passee">
            <label for="passee" class="form-check-label">Sorties passées</label>
        </div>
    </form>

    <table class="table table-striped table-light">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits / Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit ?</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
    {% for sortie in sorties %}
        <tr>
            <th scope="row">{{ sortie.nom }}</th>
            <td>{{ sortie.dateHeureDebut|date("d/m/Y") }}</td>
            <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
            <td>{{ nbInscritsParSortie[sortie.id] }} / {{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat }}</td>
            <td>
            {% if sortie in sortiesUtilisateur %}
            X
            {% endif %}
            </td>
            <td>{{ sortie.organisateur.nom }}</td>
            <td>Actions</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
