{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle Sortie
{% endblock %}



{% form_theme newSortieForm 'bootstrap_4_layout.html.twig' %}
{% form_theme newLieuForm 'bootstrap_4_layout.html.twig' %}
{% form_theme newVilleForm 'bootstrap_4_layout.html.twig' %}
{% block main %}
    <style>
        label {
            color: #fffffe;
        }

        fieldset > legend {
            color: #fffffe;
        }

    </style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Nouvelle Sortie </h1>
            </div>
        </div>
        {% block form %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 p-3">

                    {{ form_start(newSortieForm) }}

                    {{ form_row(newSortieForm.nom) }}
                    <div class="form-group">
                        <div>
                            <label for="form_dateHeureDebut">Date de la sortie</label>
                        </div>
                        <div class="input-group date" id="form_dateHeureDebut" data-target-input="nearest">
                            {{ form_widget(newSortieForm.dateHeureDebut, { 'attr': {'class': 'form-control datetimepicker-input', 'data-target':'#form_dateHeureDebut'} }) }}
                            <div class="input-group-append" data-target="#form_dateHeureDebut"
                                 data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="form_dateLimiteInscription">Date limite d'inscription</label>
                        </div>
                        <div class="input-group date" id="form_dateLimiteInscription" data-target-input="nearest">
                            {{ form_widget(newSortieForm.dateLimiteInscription, { 'attr': {'class': 'form-control datetimepicker-input', 'data-target':'#form_dateLimiteInscription'} }) }}
                            <div class="input-group-append" data-target="#form_dateLimiteInscription"
                                 data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    {{ form_row(newSortieForm.nbInscriptionsMax) }}
                    {{ form_row(newSortieForm.duree) }}
                    {{ form_row(newSortieForm.infosSortie) }}
                    {{ form_row(newSortieForm.lieu) }}

                    <button id="addLieu" name="addLieu" class="btn " style="background-color: #e53170; color:#fffffe">
                        Ajouter un lieu
                    </button>
                    <br>
                    <br>
                    <div class=" row d-flex justify-content-center">
                        <div class="col-12 col-md-6">
                            {{ form_row(newSortieForm.publier) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_row(newSortieForm.enregistrer) }}
                        </div>

                    </div>
                    <div>
                        <button class="btn btn-block"
                                style="background-color: #ff8906; color:#fffffe; max-height: inherit"><a
                                    href="{{ path('home') }}"></a>Annuler
                        </button>
                    </div>
                    {{ form_end(newSortieForm) }}
                </div>
                <div id="newItemForm" class="col-12 col-md-6 p-3">
                    <div id="newLieuFormBlock">

                        {{ form_start(newLieuForm) }}
                        {{ form_widget(newLieuForm) }}
                        <div id="updatedVille"></div>
                        <button id="canceladdLieu" name="addLieu" class="btn "
                                style="background-color: #e53170; color:#fffffe"><i class="far fa-angle-up"></i>
                        </button>
                        <button id="addVille" name="addLieu" class="btn "
                                style="background-color: #e53170; color:#fffffe">Ajouter une Ville
                        </button>
                        <button id="submitLieu" type="button" class="btn "
                                style="background-color: #ff8906; color:#fffffe">Enregistrer le nouveau lieu
                        </button>


                        {{ form_end(newLieuForm) }}
                    </div>
                    <div id="newVilleFormBlock">

                        {{ form_start(newVilleForm) }}
                        {{ form_widget(newVilleForm) }}
                        <button id="canceladdVille" name="addLieu" class="btn "
                                style="background-color: #e53170; color:#fffffe"><i class="far fa-angle-up"></i>
                        </button>
                        <button id="submitVille" type="button" class="btn "
                                style="background-color: #ff8906; color:#fffffe">Enregistrer la Nouvelle Ville
                        </button>

                        {{ form_end(newVilleForm) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#newItemForm").hide();

            $("#addLieu").on("click", function (e) {
                e.preventDefault();
                $("#newItemForm").fadeIn();
                $("#newVilleFormBlock").hide();

                $("#addVille").on("click", function (e) {
                    e.preventDefault();
                    $("#newVilleFormBlock").fadeIn();
                    $("#submitVille").on("click", function () {
                        $("#newVilleFormBlock").hide();
                        $.post('{{ path('nouvelleVille') }}',
                            {
                                nom: $("#ville_nom").val(),
                                codePostal: $("#ville_codePostal").val()
                            },
                            function (data) {
                                var i = 0;
                                var villes = JSON.parse(data);
                                var select = document.createElement("select")

                                for (i = 0; i < villes.length; i++) {
                                    var option = document.createElement("option")
                                    var ville = villes[i];
                                    option.value = ville.id;
                                    option.innerText = ville.nom;
                                    select.appendChild(option);
                                }
                                select.setAttribute("id", "new_lieu_ville");
                                select.setAttribute("class", "form-control");
                                select.setAttribute("name", "new_lieu[ville]")
                                $("#new_lieu_ville").replaceWith(select);
                                $("#newVilleFormBlock").clear();
                            }
                        )

                    })

                    $("#canceladdVille").on("click", function (e) {
                        e.preventDefault();
                        $("#newVilleFormBlock").fadeOut();
                    })
                })


                $("#canceladdLieu").on("click", function (e) {
                    e.preventDefault();
                    $("#newItemForm").fadeOut();
                })

                $("#submitLieu").on("click", function () {
                    $("#newItemForm").fadeOut();
                    $.post('{{ path('nouveauLieu') }}',
                        {
                            nom: $("#new_lieu_nom").val(),
                            rue: $("#new_lieu_rue").val(),
                            ville: $("#new_lieu_ville").val()
                        },
                        function (data) {
                            var i = 0;
                            var lieux = JSON.parse(data);
                            var select = document.createElement("select")

                            for (i = 0; i < lieux.length; i++) {
                                var option = document.createElement("option")
                                var lieu = lieux[i];
                                option.value = lieu.id;
                                option.innerText = lieu.nom;
                                select.appendChild(option);
                            }
                            select.setAttribute("id", "new_sortie_lieu");
                            select.setAttribute("class", "form-control");
                            select.setAttribute("name", "new_sortie[lieu]")
                            $("#new_sortie_lieu").replaceWith(select);
                            $("#newLieuFormBlock").clear();
                        }
                    )

                })
            })


        })

    </script>
    <script type="text/javascript" src="{{ asset('js/datepickerSortie.js') }}"></script>
{% endblock %}