{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle Sortie
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% form_theme newSortieForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <style>
        label {
            color: #fffffe;
        }

        fieldset > legend {
            color: #fffffe;
        }

    </style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Nouvelle Sortie </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-5 p-3">
                {% block form %}
                    {{ form_start(newSortieForm) }}

                    {{ form_row(newSortieForm.nom) }}
                    {{ form_row(newSortieForm.dateHeureDebut)}}
                    {{ form_row(newSortieForm.dateLimiteInscription) }}
                    {{ form_row(newSortieForm.nbInscriptionsMax) }}
                    {{ form_row(newSortieForm.duree) }}
                    {{ form_row(newSortieForm.infosSortie) }}
                    {{ form_row(newSortieForm.lieu) }}

                    <a name="addLieu" class="btn " style="background-color: #e53170; color:#fffffe" href="{{ path('nouveauLieu') }}"><i
                                    class="fal fa-plus"></i></a>
                    <label for="addLieu" > Ajouter un lieu ?</label>
                    <br>
                    <br>
                    <div class=" row d-flex justify-content-center">
                        <div class="col-12 col-md-6">
                            {{ form_row(newSortieForm.publier) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_row(newSortieForm.enregistrer) }}
                        </div>

                    </div>
                    <div>
                        <button class="btn btn-block"
                                style="background-color: #ff8906; color:#fffffe; max-height: inherit"><a
                                    href="{{ path('home') }}"></a>Annuler
                        </button>
                    </div>


                    {{ form_end(newSortieForm) }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

